<div class="photos">
   <h3>Some Favorite Photos</h3>
   <img src="https://cdn.pixabay.com/photo/2019/12/14/15/18/golden-4695100__340.jpg" alt="cute puppy!"/> 
   <img src="https://i.chzbgr.com/full/9101826816/h58640968/cute-grey-and-white-kitten-putting-its-paw-out" alt="cute kitten"/>  <br>
   <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4bfa1e50-7db7-432a-b6c6-3b221fa69ec8/d675hyk-d1efd678-6dd8-4995-8aad-b872dc7ac264.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNGJmYTFlNTAtN2RiNy00MzJhLWI2YzYtM2IyMjFmYTY5ZWM4XC9kNjc1aHlrLWQxZWZkNjc4LTZkZDgtNDk5NS04YWFkLWI4NzJkYzdhYzI2NC5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.cVeUO8c2_BosteD9VMicQY7H-lZQLffkwDlENMNDu84" alt="cute baby giraffe"/> 
</div>